{% extends "base.html.twig" %}

{% block title %}About{% endblock %}

{% block body %}
    <h1>About</h1>
    <aboutpage>
        <content>
            <a href="https://github.com/dbwebb-se/mvc">Kursens github repo</a>
            <a href="https://github.com/wiai23/portfolio-mvc">Mitt github repo</a>
        </content>
        <content2>
            Kursen Objektorienterade webbteknologier fokuserar på objektorienterade
            programmeringstekniker i programmeringsspråket PHP. Klassiska objektorienterade konstruktioner hanteras
            tillsammans med objektorienterad programmering i webbaserat ramverk tillsammans med databaser samt enhetstestning.
        </content2>
    </aboutpage>
{% endblock %}